.element {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  min-height: 48px;
  height: auto;
  border: 2px solid #3039447e;
  color: #fdfffc;
}
.element-index {
  display: flex;
  width: 5%;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 32px;
  border-right: 2px solid #7692ff;
}
.index-even {
  border-right: 2px solid rgb(230, 63, 96);
}
.element-content {
  display: flex;
  width: 75%;
  font-size: 20px;
  margin-left: 10px;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 48px;
  border-right: 2px solid #7692ff;
}
.element-buttons {
  display: flex;
  flex-direction: row;
  width: 20%;
}
.element-buttons-item {
  display: flex;
  color: #fdfffc;
  justify-content: center;
  width: calc(100% / 3);
  min-height: 48px;
  line-height: 48px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}
.element-buttons-item:hover {
  cursor: pointer;
  border: 1px solid #7692ff;
}
.element-buttons-item:focus {
  border: 1px solid #7692ff;
}
.item-remove {
  color: #ed1c24;
}
.item-done {
  color: #0ead69;
}
.item-edit {
  color: #ff9f1c;
}
.item-icon {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}
