.element {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 99.7%;
  min-height: 48px;
  height: auto;
  border: 2px solid #7186a07e;
  color: #fdfffc;
}
.element:hover {
  background-color: #282e387e;
}
.element-index {
  display: flex;
  width: 5%;
  font-size: 18px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 42px;
  border-right: 2px solid #7692ff;
}
.index-even {
  border-right: 2px solid rgb(230, 63, 96);
}
.element-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 10px;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;

  border-right: 2px solid #7692ff;
}
.element-content-text {
  font-size: 20px;
  line-height: 32px;
  margin-top: 5px;
}
.element-content-text-completed {
  font-size: 20px;
  color: #0ead69;
  line-height: 32px;
  margin-top: 5px;
}
.element-content-text-deleted {
  font-size: 20px;
  color: #ed1c24;
  text-decoration: line-through;
  line-height: 32px;
  margin-top: 5px;
}
.element-content-text-input {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: 32px;
  border-color: #7692ff;
  background-color: #7691ff00;
  color: rgba(252, 70, 107, 1);
  border-width: 1px;
}
.element-content-text-button {
  width: 34px;
  height: 34px;
  line-height: 33px;
  margin-right: 2px;
  cursor: pointer;
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}
.element-content-text-check {
  font-size: 17px;
  color: #0ead69;
}
.element-content-text-cancel {
  font-size: 17px;
  color: #ed1c24;
}
.element-content-time {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: rgb(207, 207, 207);
}
.element-buttons {
  display: flex;
  flex-direction: row;
  width: 20%;
}
.element-buttons-item {
  display: flex;
  color: #fdfffc;
  justify-content: center;
  width: calc(100% / 3);
  min-height: 48px;
  line-height: 48px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}
.element-buttons-item:hover {
  cursor: pointer;
  border: 1px solid #7692ff;
}
.element-buttons-item:focus {
  border: 1px solid #7692ff;
}
.item-remove {
  color: #ed1c24;
}
.item-done {
  color: #0ead69;
}
.item-edit {
  color: #ff9f1c;
}
.item-icon {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}
